# Dependências
node_modules/
/vendor/
/.pnp
.pnp.js

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de build/produção
/build/
/dist/
/out/
/coverage/

# Arquivos de cache
.cache/
.next/
.nuxt/
.tmp/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs e editores
/.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Arquivos de sistema
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Arquivos de teste e cobertura
/coverage/
.nyc_output/

# Arquivos temporários
*.tmp
*.temp
*.bak 

# Conexão com o banco de dados
/db/conn.js  # ou o caminho correto para o seu arquivo de conexão

# Imagens
public/images/  # Ignora todas as imagens na pasta public/images